<form class="login-wrapper" [formGroup]="userInfoForm">
  <div class="form-group">
    <label>username</label>
    <input type="text" class="form-control" formControlName="username" />
  </div>
  <div class="form-group">
    <label>password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>

  <button type="submit" [disabled]="submitDisabled" (click)="handleLogin()">login</button>
  <button type="button" (click)="handleLogout()">logout</button>
</form>
